*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #012d45 60%, #24406a);
    height: 100vh;
}

.content .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: robot;
    padding: 10px 10px;
    border-radius: .5rem;
    min-width: 35%;
}


.content .form label{
    font-size: 16px;
    margin-bottom: 15px;
    color: #bdbda7;
}

.content .form  img{
    width: 250px;
    height: 250px;
}

.content .form .content-buttons{
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.content .form .content-input{
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
}

.content .form .content-input label{
    margin-bottom: 7px;
    color: #bdbda7;
}

.content .form .content-input .input{
    padding: 5px 6px;
    border: none;
    outline: none;
    border-radius: .3rem;
    box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.378);
}


.content .form .content-submit{
    padding: 5px 20px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: .3rem;
    border: none;
    box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.378);
    font-size: 13px;
}

.content .form .content-submit .submit{
    text-transform: uppercase;
    outline: none;
    border: none;
}


@media screen and (max-width: 768px) {
    .content .form{
        width: 90%;
    }

    .content .form  img{
        width: 200px;
        height: 200px;
    }

    .content .form .content-buttons{
        width: 100%;
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
    }

    .content .form .content-submit{
        font-size: 9px;
        margin-top: 20px;
        padding: 5px 35px;
    }

    .content .form .content-input label{
        font-size: 10px;
    }

    .login{
        width: 100%;
    }
}