@keyframes navShow {
    0%{
        left: -75%;
    }100%{
        left: -1%;
    }
}

@keyframes navHidden {
    0%{
        left: 0;
    }100%{
        left: -90%;
    }
}

.nav-bar hr{
    width: 100%;
    margin: 7px 0;
}

body{
    overflow-x: hidden;
}


.nav-bar{
    position: fixed;
    top: 0;
    background-image: linear-gradient(177deg,  #111316 , #343636 );
    width: 100.5%;
    z-index: 1;
    padding: 9px 13px;
    min-height: 50px;
    max-height: 70px;
    box-shadow: -0px 3px 16px 3px rgba(0, 0, 0, 0.77);
}

.nav-bar .nav-buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}

.nav-bar .logo{
    width: 50px;
}

.nav-bar .nav-buttons .nav-buttons-logo-menu{
    display: flex;
    gap: 10px;
}

.nav-bar .nav-buttons .menu{
    background: none;
    border: none;
    outline: none;
    width: 30px;
    margin-right: 6px;
    display: flex;
    align-items: center;
}

.nav-bar .icon-img{
    width: 100%;
}

.nav-bar .navigation{
    position: absolute;
    padding: 15px;
    border-radius:  0 .3rem .3rem 0;
    width: 25%;
    left: -1%;
    margin-top: 1.5rem;
    color: white;
    background-color: #111316;
    box-shadow: 2px 3px 6px black;
    z-index: 1;
}

.nav-bar .active{
    animation: navShow 1s normal both;
}

.nav-bar .inactive{
    animation: navHidden 1s normal both;
}

.nav-bar .navigation .nav-items{
    list-style: none;
}

.nav-bar .navigation .nav-items .title{
    text-transform: uppercase;
    padding: 5px;
}

.nav-bar .navigation .nav-items .item{
    background-color: rgba(255, 255, 255, 0.157);
    text-decoration: none;
    transition: 500ms;
    color: rgba(255, 255, 255, 0.534);
    display: flex;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.268);
    border-radius: .3rem;
    margin: 14px 0px 14px 10px;
}

.nav-bar .navigation .nav-items .item:hover{
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
    .nav-bar{
        height: 50px;
        padding: 9px;
    }

    .nav-bar .logo {
        width: 40px;
    }

    .nav-bar .nav-buttons .menu {
        width: 35px;
        margin-right: 0;
    }

    .nav-bar .navigation{
        width: 60%;
    }

    .nav-bar .navigation .nav-items .title{
        font-size: 14px;
    }

    .nav-bar .navigation .nav-items {
        margin-right: 20px;
    }
   

    .nav-bar .navigation .nav-items .item{
        padding: 8px 9px;
        width: 100%;
        font-size: 12px;
    }a{
        color: black;
    } label {
        margin: 0 3px;
    }

    .nav-bar .inactive{
        animation: none;
        visibility: hidden;
    }
   
}