*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.content{
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(177deg,  #11131684 , #343636e4 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: robot;
    padding: 10px 10px;
    border-radius: .5rem;
    min-width: 35%;
}

.content .form label{
    font-size: 16px;
    margin-bottom: 15px;
    color: #bdbda7;
    text-shadow: 1px 1px 18px rgb(4, 168, 132);
}

.content .form .err{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #bdbda7;
    text-shadow: 1px 1px 8px rgb(4, 168, 132);
    transition: 1s;
}

.content .form  img{
    width: 200px;
    height: 200px;
}

.content .form .content-buttons{
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.content .form .content-input{
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
}

.content .form .content-input label{
    margin-bottom: 7px;
    color: #bdbda7;
}

.content .form .content-input .input{
    padding: 5px 6px;
    background-color: #111316;
    color: white;
    border: none;
    outline: none;
    border-radius: .3rem;
    box-shadow: 1px 1px 25px rgba(4, 168, 133, 0.489);
}


.content .form .content-submit{
    padding: 7px 24px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: .3rem;
    border: none;
    background-color: #111316;
    color: white;
    box-shadow: 1px 1px 25px rgba(4, 168, 133, 0.489);
    font-size: 11px;
    transition: 1s;
}

.content .form .content-submit:hover{
    background-color: #111316c7;
    color: #ffffff66;
    box-shadow: 1px 1px 25px 3px rgba(15, 253, 202, 0.489);
}


@media screen and (max-width: 768px) {
    .content .form{
        width: 90%;
    }

    .content .form  img{
        width: 200px;
        height: 200px;
    }

    .content .form .content-buttons{
        width: 100%;
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
    }

    .content .form .content-submit{
        font-size: 9px;
        margin-top: 20px;
        padding: 5px 35px;
    }

    .content .form .content-input label{
        font-size: 10px;
    }

    .register{
        width: 100%;
    }

    .login{
        width: 100%;
    }
}